@model UserVM

<form method="post">
	<div class="row justify-content-center">
		<div class="col-6 m-3 bg-gradient">
			<h4 class="text-center m-3">
				Оновити дані
			</h4>
			<input asp-for="User.Id" hidden />
			<div class="form-floating mb-3">
				<input asp-for="User.FirstName" class="form-control" autocomplete="off" />
				<label asp-for="User.FirstName">Ім'я</label>
				<span asp-validation-for="User.FirstName" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="User.LastName" class="form-control" autocomplete="off" />
				<label asp-for="User.LastName">Прізвище</label>
				<span asp-validation-for="User.LastName" class="text-danger"></span>
			</div>
			<div class="mb-3 pb-0 p-3 ">
				<select asp-for="User.Role" asp-items="@Model.Roles" class=" form-select">
					<option disabled selected>--Select role--</option>
				</select>
				<label asp-for="User.Role" class="ms-2" />
			</div>
			<button type="submit" class="w-100 btn btn-lg btn-primary mb-2">Оновити дані</button>
		</div>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}