@model Treatment

<h1 class="text-center text-primary">Видалити напрям</h1>

<form enctype="multipart/form-data" method="post">
	<div class="row justify-content-center">
		<div class="col-10">
			<input asp-for="TreatmentDescriptionId" hidden />
			<input asp-for="Id" hidden />
			<input asp-for="TreatmentProcedures" hidden />
			<div class="form-floating mb-3">
				<input asp-for="TreatmentName" class="form-control" autocomplete="off" disabled placeholder="" />
			</div>
			<div class="form-floating mb-3">
				<label asp-for="TreatmentDescription.Description">Опис напряму</label>
				<textarea disabled asp-for="TreatmentDescription.Description" placeholder=""></textarea>
			</div>
			<div class="form-floating mb-3">
				<input type="file" disabled name="files" class="form-control" multiple />
			</div>
			<div class="row">
				<div class="col-6 col-md-3">
					<button type="submit" class="btn btn-primary form-control">Видалити</button>
				</div>
				<div class="col-6 col-md-3">
					<a asp-controller="Treatment" asp-action="Index" class="btn btn-outline-secondary form-control">
						Повернутись до списку
					</a>
				</div>
			</div>
		</div>
		<div class="col-2">
			@if (Model.TreatmentImages != null)
			{
				@foreach (var image in Model.TreatmentImages)
				{
					<img src="@image.ImgUrl" class="p-1" width="175"
					style="border-radius:5px;border:1px" />
				}
			}
		</div>
	</div>
</form>
@section Scripts {
	<script>
		tinymce.init({
			selector: 'textarea',
			plugins: 'anchor autolink charmap codesample emoticons lists media searchreplace table visualblocks wordcount linkchecker',
			toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
			readonly: 1
		});
		tinymce.activeEditor.getBody().setAttribute('contenteditable', false);
	</script>
}