@model Treatment

<h1 class="text-center text-primary">Видалити напрям</h1>

<form enctype="multipart/form-data" method="post">
	<div class="row justify-content-center">
		<div class="col-10">
			<input asp-for="TreatmentDescriptionId" hidden />
			<input asp-for="Id" hidden />
			<input asp-for="TreatmentProcedures" hidden />
			<div class="form-floating mb-3">
				<label asp-for="TreatmentName"></label>
				<input asp-for="TreatmentName" class="form-control" autocomplete="off" disabled placeholder="" />
				<span asp-validation-for="TreatmentName" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<label asp-for="TreatmentDescription.Description">Опис напряму</label>
				<textarea asp-for="TreatmentDescription.Description" disabled placeholder=""></textarea>
			</div>
			<div class="form-floating mb-3">
				<input type="file" disabled name="files" class="form-control" multiple />
			</div>
			<div class="row">
				<div class="col-6 col-md-3">
					<button type="submit" class="btn btn-primary form-control">Видалити</button>
				</div>
				<div class="col-6 col-md-3">
					<a asp-controller="Treatment" asp-action="Index" class="btn btn-outline-secondary form-control">
						Повернутись до списку
					</a>
				</div>
			</div>
		</div>
		<div class="col-2">
			@if (Model.TreatmentImages != null)
			{
				@foreach (var image in Model.TreatmentImages)
				{
					<img src="@image.ImgUrl" class="p-1" width="175"
					style="border-radius:5px;border:1px" />
				}
			}
		</div>
	</div>
</form>