@model TProcedure

<form enctype="multipart/form-data" method="post">
	<div class="row justify-content-center">
		<div class="col-10">
			<input asp-for="Id" hidden />
			<div class="form-floating mb-3">
				<input asp-for="Name" class="form-control" autocomplete="off" placeholder="" />
				<label asp-for="Name"></label>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<label asp-for="PDescription">Опис напряму</label>
				<textarea asp-for="PDescription" placeholder=""></textarea>
			</div>
			<div class="form-floating mb-3 h-25">
				<select asp-for="TreatmentId" asp-items="@Model.Treatments" class="form-select"><option selected disabled>Оберіть напрям</option></select>
			</div>
			<div class="row">
				<div class="col-6 col-md-3">
					<button type="submit" class="btn btn-primary form-control">@(Model.Id == 0 ? "Створити" : "Оновити")</button>
				</div>
				<div class="col-6 col-md-3">
					<a asp-controller="Treatment" asp-action="Index" class="btn btn-outline-secondary form-control">
						Повернутись до списку
					</a>
				</div>
			</div>
		</div>
	</div>
</form>
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
		<script>
			tinymce.init({
				selector: 'textarea',
				plugins: 'anchor autolink charmap codesample emoticons lists media searchreplace table visualblocks wordcount linkchecker',
				toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
			});
		</script>
	}
}